body{
  background-image: url("../img/FundoSpot.jpg");
  min-height: 500px;
  background-size: cover;
  background-attachment: scroll;
  background-repeat: no-repeat;
}
.img-circle{
    border-radius: 200px;
    width: 250px;
    height: 250px;
    background-position: center;
}

#lessaBrand{
  font-size: 25px;
  margin-left: -15px;
}

#MinhaFoto{
  width: 200px;
  height: 200px;
  background-image: url("../img/teste.jpg");
  background-size: cover;
}
#DevFullStack{
  color: #D3D3D3 !important;
}

.redesSociaisli{
  color: #D3D3D3 !important;
}

#container-conteudo{
  margin-top: 15%;
}

.cor-button{
  background-color: #366387;
  border: 1px solid #FFF;
}

#parceiros{
  min-width: 800px;
  max-width: 1200px;
}
#DevFullStack{
font-size: 20px;
/* color: #fff !important; */
}
#redesSocias{
 padding: 0 !important;
}
#redesSocias li{
  display:inline-block;
}
.imgRedesSocias{
  width: 20px;
  width: 20px;
}

/*------------------------------ Animações------------------------------------*/
.linha1Animacao,.linha2Animacao, .linhaDescricao, .animacaoKelvin, .animacaoHermano , .cuAnimado{
  opacity: 0;
}
