#MinhaFoto{
  border-radius: 200px;
  width: 200px;
  height: 200px;
  background-position: center;

}

#container-marketing{
  margin-top: 15%;
}

#TxtTitulo{
  margin-bottom: 55px;
}

.alinhamento-central{
  text-align: center;
}

#alinhamento-img{
  padding-bottom: 15px;
  margin-top: 15px;
}

.cor-button{
  background-color: #366387;
  border: 1px solid #FFF;
}

#Portifólio-img{
  width: 110%;

}
#img-circle{
    border-radius: 200px;
    width: 250px;
    height: 250px;
    background-position: center;

}

body{
  background-image: url("../img/FundoSpot.jpg");
  min-height: 500px;
  background-size: contain;
  background-attachment: scroll;
  background-repeat: no-repeat;
}

#Minhafoto{
  background-image: url("../img/teste.jpg");
  background-size: cover;
}